<%= form_tag('.', :id => 'save-form', :class => 'save_form ui-widget-content ui-widget ui-corner-all') do %>
  <table>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :staff_id, 'Staff ID', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :staff_id, nil, :id => 'id_staff_id', :class => 'text', :placeholder => 'enter staff id',
                           :title => 'enter staff id' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :leave_type_id, 'Leave Type', :class => 'label' %>
      </td>
      <td>
        <select id="id_leave_type" class="select" name="leave_type">
          <option value="">-- Please Select --</option>
          <%= options_from_collection_for_select(@data, :id, :name) %>
        </select>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :day, 'Day(s)', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :day, nil, :id => 'id_day', :class => 'text', :placeholder => 'enter no. of day',
                           :title => 'enter no. of day' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :from_date, 'From Date', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :from_date, nil, :id => 'id_from_date', :class => 'text', :placeholder => 'dd-mm-YYYY' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :to_date, 'To Date', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :to_date, nil, :id => 'id_to_date', :class => 'text', :placeholder => 'dd-mm-YYYY' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :reason, 'Reason', :class => 'label' %>
      </td>
      <td>
        <%= text_area_tag :reason, nil, :id => 'id_reason', :class => 'textarea2', :placeholder => 'enter reason',
                          :title => 'enter reason' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl"></td>
      <td>
        <%= radio_button_tag :day_type, 0, :selected => true %>
        <%= label_tag :day_type_full, 'Full day' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl"></td>
      <td>
        <%= radio_button_tag :day_type, 1 %>
        <%= label_tag :day_type_half_am, 'Half day morning' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl"></td>
      <td>
        <%= radio_button_tag :day_type, 2 %>
        <%= label_tag :day_type_half_pm, 'Half day afternoon' %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="row_button">
          <%= render 'shared/assign_button' %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
