<% if @data.present? && @data[:list].any? %>
  <table class="list_table">
    <thead class="ui-widget-header">
      <tr>
        <th class="data">
          <span class="colheader">Date</span>
        </th>
        <th class="data">
          <span class="colheader">Employeee Name</span>
        </th>
        <th class="data">
          <span class="colheader">Leave Type</span>
        </th>
        <th class="data">
          <span class="colheader">Leave Balance (Days)</span>
        </th>
        <th class="data">
          <span class="colheader">Number of Days</span>
        </th>
        <th class="data">
          <span class="colheader">Status</span>
        </th>
        <th class="data">
          <span class="colheader">Reason</span>
        </th>
        <th></th>
        <th class="data">
          <span class="colheader">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @data[:list].each do |o| %>
      <% e = o.employee %>
      <% ent = LeaveSummaryHelper::get_employee_leave_entitlement(e.id, o.leave_type_id, o.from_date.year) %>
      <tr id="tr_<%= o.id %>" class="<%= cycle("ui-state-active", "ui-state-default") %>">
        <td class="data">
          <%= h o.display_date %>
        </td>
        <td class="data">
          <%= h e.first_name %> <%= h e.middle_name %> <%= h e.last_name %>
        </td>
        <td class="data">
          <%= h o.leave_type.name %>
        </td>
        <td class="data">
          <%= number_with_precision ent[:balance], :precision => 2 %>
        </td>
        <td class="data">
          <%= number_with_precision o.day, :precision => 1 %>
        </td>
        <td class="data">
          <%= h o.display_status %>
        </td>
        <td class="data">
          <%= h o.reason %>
        </td>
        <td>
          <span class="icons editicon spaceiconlist hover editreason" title="Click here to edit"></span>
        </td>
        <td class="data">
          <% if o.user_can_modify_status %>
          <select class="leaveaction">
            <option value="0">Select Action</option>
            <%= options_for_select o.user_actions %>
          </select>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<input id="id_pg" type="hidden" value="<%= @data[:hasprev] %>,<%= @data[:hasnext] %>,<%= @data[:prevpage] %>,<%= @data[:nextpage] %>,<%= @data[:item_msg] %>,<%= @data[:sortcolumn] %>,<%= @data[:sortdir] %>" />
