<table>
  <tr>
    <td>
      <%= label_tag :from_date, 'From', :class => 'label' %>
    </td>
    <td>
      <%= text_field_tag :from_date, nil, :id => 'id_from_date', :class => 'text', :placeholder => 'dd-mm-YYYY' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= label_tag :to_date, 'To', :class => 'label' %>
    </td>
    <td>
      <%= text_field_tag :to_date, nil, :id => 'id_to_date', :class => 'text', :placeholder => 'dd-mm-YYYY' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= label_tag :status, 'Show Leave with Status', :class => 'label' %>
    </td>
  </tr>
</table>
