<%= form_tag('.', :id => 'save-form', :class => 'save_form ui-widget-content ui-widget ui-corner-all') do %>
  <table>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :id_monthselect, 'Start Date', :class => 'label' %>
      </td>
      <td>
        <select id="id_monthselect" class="select">
          <%= options_for_select(@month_hash) %>
        </select>
        <select id="id_dayselect" class="select" style="width: 50px">
          <%= options_for_select(@day_hash) %>
        </select>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :to_date, 'End Date', :class => 'label' %>
      </td>
      <td>
        <span id="id_todate"></span>
        <input id="id_todateval" type="hidden" value="<%= @to_date_val %>">
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :current_leave_period, 'Current Leave Period', :class => 'label' %>
      </td>
      <td>
        <span><%= h @current %></span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="row_button">
          <%= render 'shared/save_button' %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
