<div id="menu">
  <h3><%= link_to 'Administration', '#' %></h3>
  <div>
    <div><%= link_to 'User', '#', :onclick => "return user.load()", :id => 'menu_user' %></div>
    <div><%= link_to 'Employee', '#', :onclick => "return emp.load()" %></div>
  </div>
  <h3><%= link_to 'Job', '#' %></h3>
  <div>
    <div><%= link_to 'Job Title', '#', :onclick => "return designation.load()" %></div>
    <div><%= link_to 'Employment Status', '#', :onclick => "return empstatus.load()" %></div>
    <div><%= link_to 'Job Category', '#', :onclick => "return jobcat.load()" %></div>
    <div><%= link_to 'Department', '#', :onclick => "return dept.load()" %></div>
  </div>
  <h3><%= link_to 'Leave', '#' %></h3>
  <div>
    <div><%= link_to 'Leave Period', '#', :onclick => "return leaveperiod.load()" %></div>
    <div><%= link_to 'Leave Type', '#', :onclick => "return leavetype.load()" %></div>
    <div><%= link_to 'Leave Summary', '#', :onclick => "return leavesummary.load()" %></div>
    <div><%= link_to 'Leave List', '#', :onclick => "return leave.load()" %></div>
    <div><%= link_to 'Assign Leave', '#', :onclick => "return asgnleave.load()" %></div>
  </div>
</div>
