<%= form_tag('.', :id => @form_id, :class => 'save_form ui-widget-content ui-widget ui-corner-all') do %>
  <table>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :name, 'Name', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :name, @leavetype.name, :id => 'id_name', :class => 'text', :placeholder => 'enter name',
                           :title => 'enter name' %>
      </td>
    </tr>
    <tr>
      <td valign="top" colspan="2">
        <%= check_box_tag :admin_adjust, @leavetype.admin_adjust, @leavetype.admin_adjust, :id => 'id_admin_adjust' %>
        <%= label_tag :id_admin_adjust, 'Admin can add and adjust leave entitlements' %>
      </td>
    </tr>
    <tr>
      <td valign="top" colspan="2">
        <%= check_box_tag :admin_assign, @leavetype.admin_assign, @leavetype.admin_assign, :id => 'id_admin_assign' %>
        <%= label_tag :id_admin_assign, 'Admin can assign leave to employees' %>
      </td>
    </tr>
    <tr>
      <td valign="top" colspan="2">
        <%= check_box_tag :employee_apply, @leavetype.employee_apply, @leavetype.employee_apply, :id => 'id_employee_apply' %>
        <%= label_tag :id_employee_apply, 'Employees can apply for this leave type' %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="row_button">
          <%= render 'shared/save_button' %>
          <%= render 'shared/cancel_button' %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
